@charset "utf-8";
/* 

Layout Sheet of my promotion webpage

Name: Sara Golkaran

Filename: promotion.css

*/

#promotion {
    padding: 130px;
    font-size: 23px;
    font-family: 'Shadows Into Light', cursive;
    color: #824621;
}

#bannerimage {
    width: 100%;
    background-image: url(../images/banner2.png);
    height: 500px;
    background-position: center;
  }

  .space{
    border-style: solid;
    border-color: rgb(255, 192, 203);
    background-color: rgb(240, 248, 255);
    border-radius: 40px;
    padding: 20px;
    margin: 20px;
    font-family: 'Handlee', cursive;
  }